/*Main autores*/
.main-autores {
    div {  
        .espaciosA {
            position: relative;
        }
        .espaciosA img {
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
    
        .espaciosA p {
            margin-top: 10px;
        }
    
        .espaciosA:hover img {
            transform: scale(1.1);
            filter: brightness(80%);
        }
    
        .espaciosA .titulosA {

            display: none;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    
        .espaciosA:hover .titulosA {
            display: block;
        }
    }
}

