/*Main de contactanos*/
.main-contactanos {
    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 10px;

        div {
            margin-bottom: 1rem;

            label {
                display: inline-block;
                width: 150px;
                font-weight: bold;
            }
        }

        .form-control {
            border-radius: 50px;
        }

        .form-label, .form-control {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        button {
            @extend %estilos-boton;
            border-color: rgb(13, 28, 32);
        }
    }
}