footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: $color-principal;

    div {
        img {
            padding: 5px;
            max-width: 100px;
            max-height: 50px;
        }
    }

    p {
        margin-top: 15px;
    }
}