/* Header */

header {
    background: $color-principal;
    width: 100%;
    position: sticky;
    top: 0;
    @include flex (center, space-between);
    height: 100px;
    z-index: $z-index-header;

    img {
        max-width: 125px;
        height: auto;
        margin-right: auto;
    }

    nav {

        @include flex (center, flex-end);

        ul {
            list-style: none;
            display: flex;
            overflow: hidden; 
            margin-bottom: 0%;

            li {
                display: flex;
                align-items: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                margin-right: 20px;
        
                &:hover {
                    background: $color-principal;
                }

                a {
                    display: flex; 
                    align-items: center;
                    padding: 20px;
                    color: $color-nav;
                    text-decoration: none;
                }
            }
        }
    }

    .navbar-toggler {
        @extend %estilos-boton;
        color: rgb(10, 148, 202);
    }
    
    .navbar-nav {
        .nav-link {
            font-size: 30px;
            word-spacing: 10px;
            color: $color-nav;
        }
    }
    
    .navbar-collapse {
        background-color: $color-principal;
    }
}

